.timer-container {
  background-color: var(--timer-background-color);
  border: var(--timer-border);
  height: var(--timer-height);
  width: var(--timer-width);
}

.time-display {
  height: 70%;
  font-size: 5em;
  display: flex;
  justify-content: center;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
}

.timer-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30%;
}
