body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --timer-border: 1px solid #000000;
  --timer-height: 70%;
  --timer-width: 70%;

  --button-border: 3px solid #000000;
  --button-text-size: 3em;
}

body,
div,
p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  :root {
    --timer-height: 80%;
    --timer-width: 80%;
  }
}
